@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Inter';
}

.container-heading {
    display: flex;
    width: 100%;
    margin: 5vh 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vh;
    position: relative;
    box-sizing: border-box;
}

.line,
.line-two {
    flex: 1;
    height: 0px;
    border-top: 0.9px solid #C8C8C8;
    opacity: 1;
    position: relative;
}

.promo-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: #FF6B82;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
}

.container-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2vh 0 auto;
    width: 100%;
    padding: 0 5vh;
    position: relative;
    box-sizing: border-box;
}

/* Box styling */
.box {
    width: 100%;
    height: auto;
    border: 1px solid #C8C8C8;
    display: flex;
    cursor: pointer;
    transition: max-height 0.3s ease, padding 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

.box.expanded {
    flex-direction: column;
    background-color: #ffF9fa;
}

.box.expand-small {
    max-height: 170px;
}

.expand-medium {
    max-height: 210px;
}

.expand-large {
    max-height: 300px;
}


.unit-elements {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.radio-button {
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.radio-button label {
    font-family: inter;
    font-size: 14px;
}

.u-name {
    flex: 1;
    text-align: left;
    flex-direction: column;
}


.discount-box {
    background-color: #FF6B82;
    color: white;
    padding: 2px;
    font-weight: 400;
    text-align: center;
}

.sub-label {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    align-items: center;
    margin-left: 1.8rem;
}

.price-box {
    display: flex;
    flex-direction: column;
}

.price {
    text-align: right;
}

.sub-price {
    font-size: 10px;
    text-decoration: line-through;
    font-weight: 400;
    color: #8C8C8C;
}

.additional-content {
    display: none;
    margin-top: 15px;

}

.box.expanded .additional-content {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-container {
    display: flex;
    gap: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: 0.5rem 5rem 5rem;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    box-sizing: border-box;
    justify-items: start;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 0;
    font-size: 10px;
    gap: 0.2rem;
}

.grid-container select {
    width: 100%;
    width: 4rem;
    padding: 0.25rem;
    font-size: 10px;
    align-self: start;
}




.checkout {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin: 2vh auto;
    font-size: 14px;
}

.delivery {
    flex: 1;

}

.total {
    flex-grow: 1;
    text-align: right;
}

.add-cart {
    display: flex;
    justify-content: center;
    background-color: #FF6B82;
    width: 77%;
    padding: 3vh 2vw;
    margin: 5vh 12.5vw;
    text-align: center;
    align-items: center;
    margin: 2vh auto;
    color: white;
}


.plus-icon {
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 10px;
}

input[type="radio"] {
    appearance: none;
    border: 1.5px solid #DADADA;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease;
}

input[type="radio"]:checked {
    border-color: #FF6B82;
}


input[type="radio"]:checked::before {
    background-color: #FF6B82;
    border: 2px solid white;
}


.footer {
    width: 80%;
    margin-left: 74vw;
    margin-top: 1rem;
    font-size: 16px;
    color: #00000066;
}



/* desktop view */

@media (min-width: 768px) {
    .container-content {
        width: 80%;
        margin: 5vh auto;
        padding: 0 2rem;
    }

    .grid-container {
        grid-template-columns: 1rem 6rem 6rem;
        gap: 1rem;
        margin-left: 2rem;
        padding: 0.5rem;
    }

    .grid-container select {
        width: 6rem;
        padding: 0.4rem;
    }

    .container-heading {
        padding: 0 2rem;
        margin: 5vh auto;
        max-width: 80%;
    }


    .checkout {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        margin: 5vh auto;
    }


    .delivery,
    .total {
        font-family: 'Inter';
        font-size: 14px;
        color: #000;
    }

    .delivery {
        text-align: left;
        padding-left: 2rem;
        font-weight: 600;
        color: #FF6B82;
    }

    .total {
        text-align: right;
        font-weight: 600;
        padding-right: 2rem;
    }

    .add-cart {
        width: 71.4%;
        padding: 3vh 2vw;
        margin: 5vh 12.2vw;
        margin-bottom: 0;
    }



}

@media(max-width: 768px) {

    .footer {
        width: 100%;
        margin-left: 51vw;
        margin-top: 1rem;
        font-size: 16px;
        color: #00000066;
    }
}